<%= form_for(@music) do |f| %>
  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% @music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :format %><br>
    <%= f.select :format, options_for_select(%w[CD Tape MP3 8Track]) %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.time_select :length, {:include_seconds => true} %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
    <%= f.select :sizeFormat, options_for_select(%w[KB MB]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
